@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* button */
.primary-button {
  @apply bg-blue-600 cursor-pointer p-2 rounded-md font-bold text-white  hover:bg-white hover:text-black hover:outline hover:outline-blue-600;
}
.secondary-button {
  @apply outline outline-blue-600 cursor-pointer p-2 rounded-md font-bold  hover:bg-blue-600 hover:text-white;
}
